<style>

.app-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: stretch; */
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  }

.app-link {
  text-decoration: none;
}

.app-card {
  border: 1px solid #ccc;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25);
  transition: 0.4s;
  width: 450px;
}

.app-card:hover {
  transform: scale(0.93, 0.93);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.app-grid img {
  width:  30%;
  height: 30%;
  vertical-align: middle;
  display: inline-block;
}

.app-card-container {
  padding: .7rem 1rem;
}

.app-card-text {
  vertical-align: middle;
  display: inline-block;
  padding-left: 1rem;
}

div.app-card-text h4 {
  color: #000;
}

div.app-card-text p {
  color: #363636;
}

</style>
